 <!doctype html>
 <html lang="en">
 
 <head>
 <meta charset="UTF-8">
{% csrf_token %}

 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="author" content="Aiden Cohen">

   <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>

html,body{
	height:100%;
	    position: fixed; 
    overflow:hidden;
    width: 100%;

}
header,.headers{
max-height: 10vh;
}

.table-container{
/* when input accordian is closed expand table height */
	max-height:80vh;
	overflow: auto;
}

select {
     -webkit-appearance: menulist-button;
   height: 56px;
}

.spreadsheet {

	width: 120%

}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  overflow: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.settings-container{

max-height: 40vh;
height:40vh;
  display: flex;


}
.settings-container > * {
   flex: 1;
   table-layout: fixed;
}
/*
tr:first-child {
  position: sticky;
  top: 0;
  background: white;
}
*/

</style>

 </head>
 
 <body>
 
 <div id="myModal" class="modal">
 <div id="subtotal-modal" class="modal-content">
 <h1>Insert </h1>
  <div class="alert alert-danger alert2" role="alert" style="display:none;">
	  <h5>Form Validation Failed</h5>
	  <ul id="error-li2">
		</ul>	  
	  </div>
	  <form id="rul-form" class="insert-form" action="insert" method="post" >
	  	  {% csrf_token %}
		  <input type="hidden" name="view" value="rules">
	<input type="hidden" name="data" value="">
	<div class="row g-3 mt-3 mb-3">
<div class="col-auto">
<select  name="SelectAccount" class="search form2" id="accselect">
    <option value="" disabled selected>Choose your Definition</option>
	{%for i in dropdown.Definition%}
	   <option value="{{i}}">{{i}}</option>
	  {%endfor%}
  </select>
  </div>
<div class="col-auto">
 <div class="form-floating">
  <input name="RuleNumber" type="text" class="form-control form2" id="rulenum" placeholder="Rule Number">
 <label for="rulenum"> Rule Number</label>
 </div>

</div>
<div class="col-auto">
 <div class="form-floating">
  <input name="RuleSequenceNumber" type="text" class="form-control form2" id="ruleseq" placeholder="Rule Sequence Number">
 <label for="ruleseq"> Rule Sequence Number</label>
 </div>
</div>
<div class = "col-auto">
<select name="TestObject" class="form-select form2" id="testobj">
    <option value="" disabled selected>Test Object</option>
  	{% for i in dropdown.TestObject%}
	
	<option name="{{i.1}}" value="{{i.0}}"> {{i.0}} </option>
	{%endfor%}
  </select>

</div>
<div class="col-auto">
 <div class="form-floating">
  <input name="ObjectType"type="text" class="form-control form2" id="objtyp" placeholder="Object Type">
 <label for="objtyp"> Object Type</label>
 </div>
</div>
<div class="col-auto">
 <div class="form-floating">
  <input name="TableName" type="text" class="form-control form2" id="tblnm" placeholder="Table Name">
 <label for="tblnm"> Table Name</label>
 </div>
</div>
<div class="col-auto">
 <div class="form-floating">
  <input  name="FieldName" type="text" class="form-control form2" id="fldnm" placeholder="Field Name">
 <label for="fldnm"> Field Name</label>
 </div>
</div>


<div class = "col-auto">
<select name="Operator" class="form-select form2" id="op">
    <option value="" disabled selected>Operator</option>
	{% for i in dropdown.Operator%}
	
	<option value="{{i.1}}"> {{i.0}} </option>
	{%endfor%}
  </select>

</div>
<div class="col-auto">
 <div class="form-floating">
  <input name="TestValue" type="text" class="form-control form2" id="tstval" placeholder="Test Value">
 <label for="tstval"> Test Value</label>
 </div>
</div>
<div class="d-flex col-auto align-items-center">

<input type="date" name="InDate" class="form-control form2" id="Indaterul" placeholder="" data-bs-toggle="popover"  data-bs-placement="top" title="In Effective Date">

</div>
<div class="d-flex col-auto align-items-center">

<input type="date" name="OutDate" class="form-control form2" id="Outdaterul" placeholder="" data-bs-toggle="popover"  data-bs-placement="top" title="Out Effective Date">

</div>
  </div>
  <div class="row justify-content-end">
<div class="col-auto">
<button type="submit" class="btn btn-secondary" id="submitrul">Submit</button>
</div>



</div>
  </form>
    </div>


</div>





 <div id="update-modal" class="modal">
 <div id="up-modal" class="modal-content">
 
   <h1>Update/Delete </h1>
     <div class="alert alert-danger alert4" role="alert" style="display:none;">
	  <h5>Form Validation Failed</h5>
	  <ul id="error-li4">
		</ul>	  
	  </div>
	  <form id="rul-update-form" class="update-form" action="update" method="post" >
	  	  {% csrf_token %}
		  <input type="hidden" name="view" value="rules">
	<input type="hidden" name="data" value="">
	<input type="hidden" name="checked" value="">
	<div class="row g-3 mt-3 mb-3">
<div class="col-auto">
<select  name="SelectAccount" class="search form4" id="upaccselect">
    <option value="" disabled="disabled" selected></option>
	{%for i in dropdown.Definition%}
	   <option value="{{i}}">{{i}}</option>
	  {%endfor%}
  </select>
  </div>
<div class="col-auto">
 <div class="form-floating">
  <input name="RuleNumber" type="text" class="form-control form4" id="uprulenum" placeholder="Rule Number">
 <label for="rulenum"> Rule Number</label>
 </div>

</div>
<div class="col-auto">
 <div class="form-floating">
  <input name="RuleSequenceNumber" type="text" class="form-control form4" id="upruleseq" placeholder="Rule Sequence Number">
 <label for="ruleseq"> Rule Sequence Number</label>
 </div>
</div>
<div class = "col-auto">
<select name="TestObject" class="form-select form4" id="uptestobj">
    <option value="" disabled selected>Test Object</option>
  	{% for i in dropdown.TestObject%}
	
	<option name="{{i.1}}" value="{{i.0}}"> {{i.0}} </option>
	{%endfor%}
  </select>

</div>
<div class="col-auto">
 <div class="form-floating">
  <input name="ObjectType"type="text" class="form-control form4" id="upobjtyp" placeholder="Object Type">
 <label for="objtyp"> Object Type</label>
 </div>
</div>
<div class="col-auto">
 <div class="form-floating">
  <input name="TableName" type="text" class="form-control form4" id="uptblnm" placeholder="Table Name">
 <label for="tblnm"> Table Name</label>
 </div>
</div>
<div class="col-auto">
 <div class="form-floating">
  <input  name="FieldName" type="text" class="form-control form4" id="upfldnm" placeholder="Field Name">
 <label for="fldnm"> Field Name</label>
 </div>
</div>


<div class = "col-auto">
<select name="Operator" class="form-select form4" id="upop">
    <option value="" disabled selected>Operator</option>
	{% for i in dropdown.Operator%}
	
	<option value="{{i.1}}"> {{i.0}} </option>
	{%endfor%}
  </select>

</div>
<div class="col-auto">
 <div class="form-floating">
  <input name="TestValue" type="text" class="form-control form4" id="uptstval" placeholder="Test Value">
 <label for="uptstval"> Test Value</label>
 </div>
</div>
<div class="d-flex col-auto align-items-center">

<input type="date" name="InDate" class="form-control form4" id="upIndaterul" placeholder="" data-bs-toggle="popover"  data-bs-placement="top" title="In Effective Date">

</div>
<div class="d-flex col-auto align-items-center">

<input type="date" name="OutDate" class="form-control form4" id="upoutdaterul" placeholder="" data-bs-toggle="popover"  data-bs-placement="top" title="Out Effective Date">

</div>
<div class="col-md-5" style="position:relative;">
  <div class="form-check" style="" >
  <input class="form-check-input" type="checkbox" id="updltflg" value="false" style="position:absolute; bottom:0;">
  <span style="position:absolute; bottom:0;"> Delete Flag </span>
 
</div>


</div>

<div class="col-auto">
<input type="text" class="form-control form4" id="sqlid" placeholder="SQL_ID" style="visibility:hidden;">
</div>
  </div>
  <div class="row justify-content-end">
<div class="col-auto">
<button type="submit" class="btn btn-secondary" id="updaterul">Update</button>
</div>



</div>
  </form>


    </div>


</div>





 <div id="def-update-modal" class="modal">
 <div class="modal-content">
  <h1>Update/Delete </h1>
 <div class="alert alert-danger alert3" role="alert" style="display:none;">
	  <h5>Form Validation Failed</h5>
	  <ul id="error-li3">
		</ul>	  
	  </div>
	  <form id="def-update-form" class="update-form" action="update" method="post">

	  {% csrf_token %}
	<input type="hidden" name="view" value="definition">
	<input type="hidden" name="data" value="">
	<input type="hidden" name="checked" value="">
<div class="row g-3 mt-3 mb-3">
 <div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form3" id="accNameUpdate" placeholder="AccrualName">
 <label for="accName" > Accrual Name</label>
 </div>


</div>

<div class="col-auto">
<select class="form-select form3" id="accTypeUpdate"> 
<option selected disabled> Accrual Type </option>
{% for i in dropdown.AccrualType %}

<option value="{{i}}"> {{i}}</option>
{% endfor %}
</select>
</div>

<div class="d-flex col-auto align-items-center">

<input type="date" class="form-control form3" id="IndateUpdate" placeholder="" data-bs-toggle="popover"  data-bs-placement="top" title="In Effective Date">

</div>
<div class="d-flex col-auto align-items-center">

<input type="date" class="form-control form3" id="OutdateUpdate" placeholder="" data-bs-toggle="popover"  data-bs-placement="top" title="Out Effective Date">

</div>
<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form3" id="amtlineUpdate" placeholder="Amt per Line">
 <label for="amtline"> Amt Per Line 
</label>
 </div>

</div>
<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form3" id="amtunitUpdate" placeholder="Amt Per Unit">
 <label for="amtunit"> Amt Per Unit 
</label>
 </div>

</div>

<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form3" id="costpercentUpdate" placeholder="Cost Percent">
 <label for="costpercent"> Cost Percent 
</label>
 </div>



</div>

<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form3" id="pricepercentUpdate" placeholder="Price Percent">
 <label for="pricepercent"> Price Percent 
</label>
 </div>



</div>

<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form3" id="monthlyUpdate" placeholder="AccrualName">
 <label for="monthly"> Monthly Max</label>

 </div>

</div>

<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form3" id="annualUpdate" placeholder="Annual Max">
 <label for="annual"> Annual Max</label>
 
</div>
 </div>




<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form3" id="fromUpdate" placeholder="AccrualName">
 <label for="from"> From Alpha</label>
 </div>


</div>
<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form3" id="toUpdate" placeholder="AccrualName">
 <label for="to"> To Alpha</label>
 </div>


</div>
<div class="col-md-5" style="position:relative;">
  <div class="form-check" style="" >
  <input class="form-check-input" type="checkbox" id="dltflg" value="false" style="position:absolute; bottom:0;">
  <span style="position:absolute; bottom:0;"> Delete Flag </span>
</div>

</div>
<div class="row justify-content-end">
<div class="col-auto">
<button type="submit" class="btn btn-secondary update" id="update-button">Update</button>
</div>



</div>
</div>
  </form>
 
  </div>


</div>

 <div id="def-add-modal" class="modal">
 <div class="modal-content">
  
   <h1>Insert </h1>
 <div class="alert alert-danger alert1" role="alert" style="display:none;">
	  <h5>Form Validation Failed</h5>
	  <ul id="error-li1">
		</ul>	  
	  </div>
	  <form id="def-form"  class="insert-form"  action="insert" method="post">
	  {% csrf_token %}
	<input type="hidden" name="view" value="{{view}}">
	<input type="hidden" name="data" value="">
<div class="row g-3 mt-3 mb-3">
 <div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form1" id="accName" placeholder="AccrualName">
 <label for="accName" > Accrual Name</label>
 </div>


</div>

<div class="col-auto">
<select class="form-select form1" id="accType"> 
<option selected disabled> Accrual Type </option>
{% for i in dropdown.AccrualType %}

<option value="{{i}}"> {{i}}</option>
{% endfor %}

</select>
</div>

<div class="d-flex col-auto align-items-center">

<input type="date" class="form-control form1" id="Indate" placeholder="" data-bs-toggle="popover"  data-bs-placement="top" title="In Effective Date">

</div>
<div class="d-flex col-auto align-items-center">

<input type="date" class="form-control form1" id="Outdate" placeholder="" data-bs-toggle="popover"  data-bs-placement="top" title="Out Effective Date">

</div>
<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form1" id="amtline" placeholder="Amt per Line">
 <label for="amtline"> Amt Per Line 
</label>
 </div>

</div>
<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form1" id="amtunit" placeholder="Amt Per Unit">
 <label for="amtunit"> Amt Per Unit 
</label>
 </div>

</div>

<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form1" id="costpercent" placeholder="Cost Percent">
 <label for="costpercent"> Cost Percent 
</label>
 </div>



</div>

<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form1" id="pricepercent" placeholder="Price Percent">
 <label for="pricepercent"> Price Percent 
</label>
 </div>



</div>

<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form1" id="monthly" placeholder="AccrualName">
 <label for="monthly"> Monthly Max</label>

 </div>

</div>

<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form1" id="annual" placeholder="Annual Max">
 <label for="annual"> Annual Max</label>
  <div class="form-check">
  <label for="monthly"> No Threshold Limit</label>
  <input class="form-check-input" type="checkbox" id="nolimit" value="option1">
</div>
 </div>


</div>

<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form1" id="from" placeholder="AccrualName">
 <label for="from"> From Alpha</label>
 </div>


</div>
<div class="col-auto">
 <div class="form-floating">
  <input type="text" class="form-control form1" id="to" placeholder="AccrualName">
 <label for="to"> To Alpha</label>
 </div>


</div>
</div>
<div class="row justify-content-end">
<div class="col-auto">
<button type="submit" class="btn btn-secondary" id="submit-button">Submit</button>
</div>



</div>
  </form>
 </div>
 </div>

 <header style="position:relative; top:0;z-index:10;">
 <div class="p-5 bg-light headers"style="margin:auto;">
 
 <h1 style="line-height:0px;">Accruals App </h1>
 
 </div>
 </header>
 <div class="parent-container d-flex"style="border-bottom: solid">

 <div class="container-fluid table-container">

 <table class="table table-hover sqltable width:100%" >

 <thead>

 <tr>
 {% for i in cols %}
 <th scope="col">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black;">
            {{i}}
          </a>
       <div class="dropdown-menu" style="z-index:1;">
  <form class="px-4 py-3 sort-form">
    <div class="mb-3">
      <label for="searchbar" class="form-label">Search</label>
      <input type="text" name = "{{i}}" class="form-control" placeholder="Enter search here...">
    </div>
    <div class="mb-3">
     <div class="form-check">
  <input class="form-check-input" type="radio" name="radio" checked>
  <label class="form-check-label" >
   None
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radio">
  <label class="form-check-label">
    Sort Ascending
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radio">
  <label class="form-check-label">
     Sort Descending
  </label>
</div>
    </div>
    <button type="submit" class="btn btn-primary" style="visibility:hidden;">Sign in</button>
  </form>
</th>
 {% endfor %}
 </tr>
 </thead>
 <tbody>
   <tr style="position: sticky;top:0;background: white;" >

 {% for data in cols %}
 {% if forloop.first %}
  <td> <div class="d-grid gap-2"> <button id="add-button" class="btn btn-primary btn-lg"> Add Row</button></div></td>
  <td> <div class="d-grid gap-2"> <button id="filter-button" class="btn btn-danger btn-lg">Reset Filters</button></div></td>
  <td>
 <div class="dropdown" style="width: calc(100% - 45px);">
		<button class="btn btn-lg spreadsheet btn-success dropdown-toggle" type="button" id="drop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Spreadsheet Actions    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
  <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
</svg> 	

		</button>
		<ul class="dropdown-menu spreadsheet" aria-labelledby="drop">
		<li><input class="dropdown-item" id="spinput" type="file" accept=".csv"> </li>
	<li><button class="dropdown-item" type="button" id="downloadb">Download</button></li>
		</ul>
		</div>
		
		
		 </td>
	<td>
		<a href="inputs" role="button" class="btn btn-info btn-lg">Modify Tables</a>
		 </td>

 {% else %}
 <td> </td>
 {% endif %}
 {% endfor %}
 </tr>
 {% for data in alldata %}
 <tr class="table-name" name="table-row">
 
  {%for key,value in data.items%}
    <td>{{value}}</td>
	{%endfor%}
  </tr>
  {%endfor%}
 </tbody>
 </table>


</div>
<div class=" container table-container mt-3 mr-2" style="border-left: solid;">
	  <div class="" style="display:block;" >
  	<div class="row">
<div class="col-auto">
<select  name="SelectAccount" class="search" id="ruleselect">
    <option value="" disabled selected>Choose your Definition</option>
	{%for i in dropdown.Definition%}
	   <option value="{{i}}">{{i}}</option>
	  {%endfor%}
  </select>
  </div>
  </div>
<div class="row">
  <table class="table">
  <thead>
  <tr>
  <th scope="col" id="definitionload">{{target}} </th>
  <th scope="col"></th>
  {% for i in conditions.values.0 %}
  <th scope="col"></th>
  {%endfor%}
  </tr>
  </thead>
  <tbody>
  {%for k,v in conditions.items%}
  <tr> 
  <th scope="col"> </th>
   <th scope="col">Rule {{k}}</th>

    {% for i in conditions.values.0 %}
  <th scope="col"></th>
  {%endfor%}
  </tr>

  {% for i in v %}
      <tr class="table_row"  name="{{k}}">
    <th scope="col"> </th>
   <th scope="col"></th>
  {% for j in i %}

  <th scope="col"> {{j}} </th>
  

  {%endfor%}
     </tr>
  {% endfor %}
  <tr>
      <th scope="col"> </th>
   <th scope="col"></th>
   {%with v|last as last%}
   <th scope="col">{{last.0|add:"1"}}</th>
  
   <th> <button name="{{k}} {{last.0|add:'1'}}" class="btn btn-primary condition-button" type="button">Add Condition </button> </th>
    {% endwith %}
   {% for i in conditions.values.0 %}
  <th scope="col"> a</th>
  {%endfor%}
  </tr>

  {%endfor%}
    <tr>
  <th scope="col"> </th>
  <th scope="col"><button name="{{nextrule}}" class="btn btn-primary rule-button" type="button">Add Rule {{nextrule}} </button></th>
	</tr>
  </tbody>
  </table>
  
 
  </div>
</div>
</div>
</div>

 <footer class="pt-5 text-center text-lg start bg-light text-muted">
 
 <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
   Developed By
    <a class="text-reset fw-bold">Aiden Cohen</a>
  </div>
 </footer>
 
 
 <!--
 Spreadsheet button
 
 <div class="dropdown">
		<button class="btn spreadsheet btn-success dropdown-toggle" type="button" id="drop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Spreadsheet Actions    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
  <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
</svg> 	

		</button>
		<ul class="dropdown-menu spreadsheet" aria-labelledby="drop">
		<li><input class="dropdown-item" id="spinput" type="file" accept=".csv"> </li>
	<li><button class="dropdown-item" type="button" id="downloadb">Download</button></li>
		</ul>
		</div>
		
		
		<div class="col" >
		<div class="spinner-border spinner-border text-info" role="status" style="position:relative; top: 2px; left:20px; visibility:hidden;"></div>
		</div>
-->
 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type=module" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
 <script> 
$(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $(".search").select2({
    placeholder: "Definition",
    allowClear: true,
	selectOnClose: true

});

$(".table-name").each(function(index){

if($(this).children().eq(0).text().trim() == "{{target}}"){

$(this).css("background-color","#3aafdc")

}
}


);
});

var lists = ["Indate", "Outdate","Indaterul","Outdaterul","IndateUpdate","OutdateUpdate","upIndaterul","upoutdaterul"]
var poppers = []
for(let i = 0; i < lists.length; i++){
poppers.push(new bootstrap.Popover(document.getElementById(lists[i])));
}
 
var realheight = document.body.scrollHeight;
var prevValues = [reset("form1"),reset("form2"),reset("form3"),reset("form4")];
var update = false;

 function reset(form) {
let temp = document.getElementsByClassName(form);
let values = [];
for(let i = 0; i < temp.length; i++)
{
	values.push($("#" + temp[i].id).val());
}
return values;
}

$(".update").click(function(e){

update = true;

});


function validations(link, form)
{
let prevValuesN = prevValues[form-1]

let currValues = reset("form" + form.toString());
return new Promise((resolve,reject) => {$.ajax({type:"POST",data: {'data':currValues,  'csrfmiddlewaretoken': "{{csrf_token}}",'view' : (form == 1 || form == 3? "definition" : "rules")}, url: link, success: function(data){


let html = "";
let button = ["submit-button","submitrul","update-button","updaterul"][form-1] 
let good = true;
for(let i = 0; i < prevValuesN.length; i++)
{
if(data[i] != undefined)
{
if(data[i][1].length > 0)
{
 for(let j = 0; j < data[i][1].length; j++)
 {
html = html + "<li>" + data[i][1][j] + "</li>"
document.getElementById(data[i][0]).classList.add("is-invalid");
document.getElementById(button).classList.add("disabled");
document.getElementsByClassName('alert' + form.toString())[0].style.display = "block";
good = false;
}
}
else{
	document.getElementById(data[i][0]).classList.remove("is-invalid");
}
}
}
if(good){
html = "";
document.getElementsByClassName('alert' + form.toString())[0].style.display = "none";
document.getElementById(button).classList.remove("disabled");

}
let num = [1,2,3,4][form-1];
let error = document.getElementById('error-li' + num.toString()) 
error.innerHTML = html;
prevValues[form-1] = currValues;

resolve(good);
}})
})

}



$('.insert-form').submit(function(e){
e.preventDefault();
let num = $(this).attr("id") == "rul-form" ? 2 : 1;

validations("validate",num).then((data) =>{
if(!data){
return false;
}

validations("postvalidate", num).then((data) => {
let values = []
let elements = $(this).attr("id") == "def-form" ? document.getElementsByClassName("form1") : document.getElementsByClassName("form2");
let form = $(this).attr("id") == "def-form" ? "def-form" : "rul-form";
if(!data)
{
 return false;
}
else{

for(let i = 0; i < elements.length; i++){
if(elements[i].id == "testobj"){
values.push(elements[i].options[elements[i].selectedIndex].text);
}
else{
values.push(elements[i].value);
}
}


$("#" + form+" input[name='data']").val(JSON.stringify(values));

document.getElementById(form).submit();
}

})
})
});


$(window).click(function(e){


validations("validate",1);
validations("validate",2);

validations("updatevalidate",3)
validations("updatevalidate",4)


if(!lists.includes(e.target.id) ){
for(let i = 0; i < lists.length; i++){

poppers[i].hide();

}
}
let modals = $(".modal").get()
for  (const i in modals){ 
if(e.target.id == modals[i].id && modals[i].style.display == "block"){
modals[i].style.display = "none";
}
}
});

$(".accordion-button").on('click',function(e){
var active = e.target.ariaExpanded
if(active == "true"){

setTimeout(function(){window.scrollTo(0,realheight);
},300)
}
});
var sendReq = async function(params){
let url = new URL('',window.location.href);
url.search = new URLSearchParams(params).toString();
window.location.replace(url.href);

};

$("#switchView").on("click", function(e){
let currentView = document.getElementById("holder").classList[0]
let newView = (currentView == "definition" ? "rules" : "definition");
let params = {"view":newView, 'csrfmiddlewaretoken': "{{csrf_token}}"};

sendReq(params);

});

$("#nolimit").on('change', function(e){

if($("#nolimit").is(':checked')){

$("#annual").val("9999999999");
$("#monthly").val("9999999999");
}
else{
$("#annual").val("");
$("#monthly").val("");
}

});

$("#dltflg").on('change', function(e){

if($("#dltflg").is(':checked')){
alert("Do you want to DELETE this record?");
$("#dltflg").val(true);
$("#update-button").text("Delete");

}
else{
$("#dltflg").val(false);
$("#update-button").text("Update");
}

});

$("#updltflg").on('change', function(e){

if($("#updltflg").is(':checked')){
alert("Do you want to DELETE this record?");
$("#updltflg").val(true);
$("#updaterul").text("Delete");

}
else{
$("#updltflg").val(false);
$("#updaterul").text("Update");
}

});


$(".table-name").on("click", function(e){
if($(this).css("background-color") == "rgba(0, 0, 0, 0)")
{
$("#ruleselect").val($(this).children().eq(0).text().trim())
$("#ruleselect").trigger("change");
$(".table-name").css("background-color","");
$(this).css("background-color","#3aafdc");
}
else{
$("#def-update-modal").css("display","block");

let currentView = "definition"
let newView = (currentView == "definition" ? ".form3" : ".form4");
let lists = $(this).children();
let otherlists = $(newView)

if(newView == ".form3"){
for(let i = 0; i < otherlists.length; i++){

if(i == 2 || i==3){
let temp = lists.eq(i).text();
otherlists.eq(i).val(temp.substring(0,4) + "-" + temp.substring(4,6) + "-" + temp.substring(6,8))
}
else if([4,5,6,7].includes(i)){
const regex = /^(?:[0]|[^1-9]+)$/;
if(lists.eq(i).text().match(regex) != null){
otherlists.eq(i).val("")
}
else{
otherlists.eq(i).val(lists.eq(i).text());
}
}
else{
otherlists.eq(i).val(lists.eq(i).text().trim());
}
}
}
else{
for(let i = 0; i < otherlists.length; i++){


if(i == 9 || i==10){
let temp = lists.eq(i).text();
otherlists.eq(i).val(temp.substring(0,4) + "-" + temp.substring(4,6) + "-" + temp.substring(6,8))

}
else if (i == 0)
{
otherlists.eq(i).val(lists.eq(i).text().trim());
$('#upaccselect').trigger('change');
}
else if(i==11){
otherlists.eq(i).val(lists.eq(17).text().trim());
}
else{

otherlists.eq(i).val(lists.eq(i).text().trim());
}
}


}
}
});


$('.update-form').submit(function(e){
e.preventDefault();
let num = $(this).attr("id") == "rul-update-form" ? 4 : 3;
validations("updatevalidate",num).then ((data) =>{
console.log(data);
if(!data){
return false;
}

if(!($("#dltflg").is(':checked') || $("#updltflg").is(':checked') )){

validations("postupdatevalidate", num).then((data) => {
let values = []
let elements = $(this).attr("id") == "def-update-form" ? document.getElementsByClassName("form3") : document.getElementsByClassName("form4");
let form = $(this).attr("id") == "def-update-form" ? "def-update-form" : "rul-update-form";
let flag = $(this).attr("id") == "def-update-form" ? $("#dltflg").val() : $("#updltflg").val()
if(!data)
{
 return false;
}

else{

for(let i = 0; i < elements.length; i++){
values.push(elements[i].value)

}

}
$("#" + form + " input[name='data']").val(JSON.stringify(values));
$("#" + form + " input[name='checked']").val(flag)

document.getElementById(form).submit();

});
}
else{
validations("deletevalidate", num).then((data)=>{
let values = []

let elements = $(this).attr("id") == "def-update-form" ? document.getElementsByClassName("form3") : document.getElementsByClassName("form4");
let form = $(this).attr("id") == "def-update-form" ? "def-update-form" : "rul-update-form";
let flag = $(this).attr("id") == "def-update-form"? $("#dltflg").val() : $("#updltflg").val()

if(!data)
{
 return false;
}

else{

for(let i = 0; i < elements.length; i++){
values.push(elements[i].value)
}
}

$("#" + form + " input[name='data']").val(JSON.stringify(values));
$("#" + form + "input[name='checked']").val(flag)

document.getElementById(form).submit();


});
}
});
});


$("#accselect").on("change",
function() {

$.ajax({
data: {"definition" : $(this).val(), 'csrfmiddlewaretoken': "{{csrf_token}}"},
url : "populate",
type : "POST",
success : function(data){

$("#Indaterul").val(data["indate"]);
$("#Outdaterul").val(data["outdate"]);

}

});




});

 $("#testobj,#uptestobj").on("change", function() {
temp = "#" + $(this).attr("id");
values = $(temp + " option:selected").attr("name").split(",")
which = $(this).attr("id") == "testobj" ? ["#objtyp","#tblnm","#fldnm"] : ["#upobjtyp","#uptblnm","#upfldnm"];
$(which[0]).val(values[0])
$(which[1]).val(values[1])
$(which[2]).val(values[2])


});

function download(filename, text) {
  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', filename);

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
}

$("#spinput").change(function(e){
console.log("hello")
formdata = new FormData();
let view = "definition";
formdata.append("view", "definition" );
formdata.append("csrfmiddlewaretoken","{{csrf_token}}")
if($(this).prop('files').length > 0)
{
file=$(this).prop('files')[0];
if(file.name.match(".csv"))
{
formdata.append("csv", file);
}
else{
alert("put in a csv please");
}
}
$(".spinner-border").css("visibility","visible");

$.ajax({
url: "fileupload",
type: "POST",
data : formdata,
processData: false, contentType: false,



success: function(r){
if(r.length > 0)
{
download("problems.txt", r)
$(".spinner-border").css("visibility","hidden")

alert("Downloaded Problems document");
}
else{
$(".spinner-border").css("visibility","hidden")
alert("Uploaded Successfully");
location.reload();

}


},
error : function(){
$(".spinner-border").css("visibility","hidden")
alert("Error");}
});

});


$("#downloadb").click(function(e){

$(".spinner-border").css("visibility","visible");

$.ajax(
{
url: "filedownload",
type: "POST",
data : {"view" : "definition", "csrfmiddlewaretoken": "{{csrf_token}}" },

success : function(r){
download("answers.csv",r)
$(".spinner-border").css("visibility","hidden")

}
}

);

});

$("#close").click( function(e){

var modal = document.getElementById("myModal");
modal.style.display = "none";

});

$(".condition-button").click( function(e){
$("#rul-form")[0].reset();
$("#myModal").css("display","block");
var number = $(this).attr("name").split(" ")
$("#accselect").val("{{target}}".trim())
$('#accselect').trigger('change');
$("#rulenum").val(number[0]);
$("#ruleseq").val(number[1]);

});

$(".rule-button").click( function(e){
$("#rul-form")[0].reset();
$("#myModal").css("display","block");
$("#accselect").val("{{target}}")
$('#accselect').trigger('change');
$("#rulenum").val("{{nextrule}}");
$("#ruleseq").val("1");

});


$("#ruleselect").change(function(e){

if($(this).val() != "{{queryrule}}" && $(this).val() !== null)
{
let view = "definition";
let params = {"view":view, 'csrfmiddlewaretoken': "{{csrf_token}}","queryrule":$(this).val()};

for(const entry of new URLSearchParams(window.location.search).entries()){

if(typeof params[entry[0]] == "object"){
params[entry[0]].push(entry[1]);
}

else{
params[entry[0]] = (entry[0] in params ? params[entry[0]] : [entry[1]] )
}
}

sendReq(params);
}


});


$(".table_row").click(function(e){

$(".table_row").css("background-color","")
$(this).css("background-color","#3aafdc")
$("#update-modal").css("display","block");
$("#upaccselect").val("{{target}}")
$('#upaccselect').trigger('change');
$("#uptestobj").val($(this).children().eq(3).text().trim())
$('#uptestobj').trigger('change');
$("#upop").val($(this).children().eq(4).text().trim())
$("#uptstval").val($(this).children().eq(5).text().trim())
$("#upruleseq").val($(this).children().eq(2).text().trim())
$("#uprulenum").val($(this).attr("name").trim());
date = $(this).children().eq(6).text().trim()
$("#upIndaterul").val(date.substring(0,4) + "-" + date.substring(4,6)  + "-" + date.substring(6,8))
date = $(this).children().eq(7).text().trim()
$("#upoutdaterul").val(date.substring(0,4) + "-" + date.substring(4,6)  + "-" + date.substring(6,8))
$("#sqlid").val($(this).children().eq(8).text().trim())

});

$("#add-button").click(function(e){

$("#def-add-modal").css("display","block");

});

$(".sort-form").submit(function(e){
e.preventDefault();
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const vals = $(this).find("input.form-control").attr("name");
urlParams.set(vals,$(this).find(".form-control").val());
options = ["asc","desc"]
let j = 0;
var inputs = $(this).find(".form-check-input").get();
for ( const i  in inputs){
if(inputs[j].checked == true){
if(j != 0 && !urlParams.getAll(options[j-1]).includes(vals)){
urlParams.append(options[j-1],vals);
const strings = (j == 1 ? "desc":"asc");
if(urlParams.get(strings) && urlParams.get(strings).includes(vals)){
console.log("hello")
const arrays = urlParams.getAll(strings)
arrays.splice(urlParams.getAll(strings).indexOf(vals),1);
if(arrays.length == 0){
urlParams.delete(strings)
}
else{
urlParams.set(strings, arrays);
}
}
}

}
j+=1
}

let url = new URL('',window.location.href);
url.search = urlParams.toString();
window.location.replace(url.href);


});
$("#filter-button").click(function(e){

window.location.replace("/accruals/?reset=True")

});

 </script>
 </body>
 
 
 
 
 </html>	