 <html>
 
 <head>
 <meta charset="UTF-8">
 <meta name="author" content="Aiden Cohen">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
 <link rel="stylesheet" href="../static/css/styles.css">

 </head>
 
 
 
 <body class="bg-light">
 


<nav class="navbar navbar-custom">
  <h1> Regression Testing Visual Tool </h1>
 </nav>
 
 <div class="d-flex mt-3 mb-5"> 
	 <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" id="exampleInputEmail1" placeholder="Enter email">
	</div>
 </div>

 <div class="d-flex">
 <div class="col-sm-1" >
 <p> TODO PUT ICON HERE </p>
 </div>
 <div class="col">
 <table class="table table-bordered table-hover">
 <thead class="thead-light">
 <tr>
    <th scope="col">
	<div class="d-flex justify-content-between">
	<div> First Name </div>   
	<span class="p-2 bi-caret-down-fill"></span> 
	</div>
	</th>
    <th scope="col">
		<div class="d-flex justify-content-between">
	<div> Last Name </div>   
	<span class="p-2 bi-caret-down-fill"></span> 
	</div>
	</th>
    <th scope="col">	<div class="d-flex justify-content-between">
	<div> Age</div>   
	<span class="p-2 bi-caret-down-fill"></span> 
	</div></th>
	<th scope="col"> 	<div class="d-flex justify-content-between">
	<div> SSN </div>   
	<span class="p-2 bi-caret-down-fill"></span> 
	</div></th>
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
	<td>1111</td>
  </tr>
  <tr class="table-danger">
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
	<td>1234</td>
  </tr>
  </tbody>
</table>
</div>
</div>
 
 
 
 
 
 
 
 
 
 
 </body>
 

 
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 </html>